<ul>
    <% @parts.each do |part| %>
        <li>
            <strong><%= -part.remaining_quantity %>&times;</strong>
            <%= part.part_type %> <%= part.value %>
        </li>
    <% end %>
</ul>

<ul>
    <% @projects.each do |project| %>
        <li><%= link_to project.name, project %></li>
    <% end %>
</ul>
