<% full_width ||= false %>
<% table_class ||= '' %>

<% unless full_width %><div class="grid"><% end %>
	<% groups.each do |group, items| %>
		<table class="<%= table_class %>">
			<thead>
				<tr>
					<th colspan="100%"><%= get_title.(group) %></th>
				</tr>
			</thead>
			<tbody>
				<% items.each do |item| %>
					<tr>
						<%= yield item %>
					</tr>
				<% end %>
			</tbody>
		</table>
	<% end %>
<% unless full_width %></div><% end %>
